# Dependencies
node_modules

# Build output
dist

# IDE
.idea
.vscode
*.swp
*.swo

# Angular cache
.angular

# Git
.git
.gitignore

# Misc
README.md
*.log
.DS_Store
Thumbs.db

# Test
coverage
*.spec.ts

# Supabase Edge Functions (run on Supabase, not in container)
supabase
