/* Sidebar Calendar Styling */
:host ::ng-deep .sidebar-calendar .p-datepicker {
    background: transparent;
    border: none;
    width: 100%;
    font-size: 0.8rem;
}

:host ::ng-deep .sidebar-calendar .p-datepicker-header {
    background: rgb(31 41 55 / 0.5);
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

:host ::ng-deep .sidebar-calendar .p-datepicker-title {
    font-size: 0.875rem;
    font-weight: 600;
}

:host ::ng-deep .sidebar-calendar .p-datepicker table {
    width: 100%;
    font-size: 0.75rem;
}

:host ::ng-deep .sidebar-calendar .p-datepicker table th {
    color: rgb(107 114 128);
    font-weight: 600;
    padding: 0.25rem;
    font-size: 0.65rem;
}

:host ::ng-deep .sidebar-calendar .p-datepicker table td {
    padding: 0.125rem;
}

:host ::ng-deep .sidebar-calendar .p-datepicker table td > span {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 0.375rem;
    color: rgb(209 213 219);
    font-size: 0.75rem;
}

:host ::ng-deep .sidebar-calendar .p-datepicker table td > span:hover {
    background: rgb(55 65 81);
}

:host ::ng-deep .sidebar-calendar .p-datepicker table td.p-datepicker-today > span {
    background: rgb(239 68 68);
    color: white;
    font-weight: 600;
}

:host ::ng-deep .sidebar-calendar .p-datepicker-prev,
:host ::ng-deep .sidebar-calendar .p-datepicker-next {
    color: rgb(156 163 175);
    width: 1.5rem;
    height: 1.5rem;
}

:host ::ng-deep .sidebar-calendar .p-datepicker-prev:hover,
:host ::ng-deep .sidebar-calendar .p-datepicker-next:hover {
    background: rgb(55 65 81);
    color: white;
}

:host ::ng-deep .sidebar-calendar .p-datepicker-weeknumber {
    color: rgb(107 114 128);
    font-size: 0.65rem;
}
