@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #e11d48;
    /* Red-600 */
}

body {
    background-color: #111827;
    /* Gray-900 */
    color: #f3f4f6;
    /* Gray-100 */
}